.signUpImg{
    /* border: 1px solid green; */
    max-width: 100%;
    overflow: hidden;
    
}
.SignUp-cointainer{
    /* border: 1px solid red; */
    overflow: hidden;
    display: flex;
    width: auto;
}
.signUpForm{
    /* border: blue; */
    width: 500px;
    /* margin-top: -610px; */
    /* margin-left: 880px; */
    /* display: grid; */
    padding-left: 20px;
}

.welcome{
    width: 188px;
    height: 32px;
    margin-left: 150px;
    margin-bottom: 2px;
    /*margin-bottom: 40px;*/

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 27.2px;
    line-height: 32px;
    /* identical to box height */

    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #000000;

}

.welcomeText{
    width: 418px;
    height: 19px;
    margin-left: 65px;
    margin-bottom: 45px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #000000;
}

input{
    margin-left: 0px;
    margin-bottom: 20px;
    width: 90%;
    padding: 20px;
    background: #FFFFFF;
    border: 1.51111px solid #C4C4C4;
    border-radius: 12.0889px;

}

input::-webkit-input-placeholder{
    color: #C4C4C4;
}

.already_have_an_account{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    display: flex;
    align-items: flex-end;

    color: #C4C4C4;
}

.alreadyHaveAnAccount_div{
    display: flex;
}
.logIn_link{
    margin-left: 210px;
    font-weight: 500;
    font-size: 18px;
}

.signUp_btn{
    width: 90%;
    height: 50px;
    margin-top: 30px;

    background: #f1f7a5;
    border: 1.51111px solid #f1f7a5;
    border-radius: 12.0889px;

    color: black;
    font-weight: bold;
    font-size: 20px;
}